@page {
    size: A4 portrait;
}

body {
    font-size: 3mm;
}

p{
    margin: 0;
}

.page {
    display: flex;
    flex-wrap: wrap;
    width: 210mm;
    height: 297mm;
    justify-content: space-evenly;
    align-content: flex-start;
    page-break-after: always;
}

.item {
    position: relative;
    height: 67mm;
    width: 47mm;
    background-color: linen;
    box-sizing: border-box;
    margin-top: 2mm;
}

.item-icon {
    position: absolute;
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
    width: 10mm;
    height: 10mm;
    right: 0;
    top: 0;
    border: 1px solid red;
    box-sizing: border-box;
}

.item-title {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 4mm;
    top: 0;
    left: 0;
    width: 37mm;
    height: 10mm;
    flex-grow: 0;
    border: 1px solid black;
    padding: 1mm;
    box-sizing: border-box;
}

.item-description {
    position: absolute;
    width: 47mm;
    height: 52mm;
    top: 10mm;
    border: 1px solid black;
    padding: 1mm;
    box-sizing: border-box;
    flex-grow: 2;
    font-size: 3mm;
}

.item-stats{
    display: flex;
    align-items: center;
    position: absolute;
    width: 47mm;
    height: 5mm;
    bottom: 0;
    border: 1px solid black;
    box-sizing: border-box;
    padding-left: 1mm;
}

.stat{
    display: flex;
    align-items: center;
}

.stat-icon{
    width: 3.5mm;
    height: 3.5mm;
}