	@page {
	    size: A4 landscape;
	}

	@media print {
	    .sheet {
	        width: 297mm;
	        height: 210mm;
	    }
	}

	.pages {
	    display: flex;
	    flex-direction: column;
	}

	.sheet {
	    display: flex;
	    height: 210mm;
	    page-break-after: always;
	    background-color: green;
	    border: 1px solid black;
	}


	.minion {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: space-around;
	    height: 210mm;
	    width: 99mm;
	    background-color: red;
	    border: 1px solid black;
	}

	.minion-title {
	    width: 90%;
	    flex-grow: 0;
	    margin: 2mm;
	    border: 1px solid black;
	    padding: 2mm;
	}

	.minion-description {
	    width: 90%;
	    margin: 2mm;
	    border: 1px solid black;
	    flex-grow: 2;
	    padding: 2mm;
	}

	body {
	    background-color: linen;
	}