@page {
    size: A4 landscape;
}

* {
    font-size: 4mm;
}

p {
    margin: 0;
}

.pages {
    display: flex;
    flex-direction: column;
}

.sheet {
    display: flex;
    height: 195mm;
    page-break-after: always;
}


.minion {
    position: relative;
    height: 195mm;
    width: 96mm;
    padding: 3mm;
    background-color: linen;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 2mm;

}

.minion-title {
    position: absolute;
    width: 73mm;
    height: 15mm;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 2mm;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 6mm;
    display: flex;
    align-items: center;
    border-radius: 1mm;
}

.minion-icon {
    position: absolute;
    width: 15mm;
    height: 15mm;
    right: 3mm;
    border: 1px solid black;
    box-sizing: border-box;
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1mm;
}


.minion-stats {
    position: absolute;
    width: 89mm;
    height: 16mm;
    display: flex;
    top: calc(3mm + 15mm + 2mm);
    justify-content: space-between;
}

.minion-stat-item {
    height: 16mm;
    width: 16mm;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1mm;
    box-sizing: border-box;
    padding: 1mm;
    text-align: center;
}

.stat-value, .stat-value * {
    font-size: 3.75mm;
}

.stat-description {
    height: 8mm;
    font-weight: bold;
    font-variant: small-caps;
    margin-top: 0.5mm;
    margin-bottom: -1.5mm;
}

/*
.minion-stat-item:nth-of-type(1) {
    box-shadow: 0 0 5px lime;
}

.minion-stat-item:nth-of-type(2) {
    box-shadow: 0 0 5px deepskyblue;
}

.minion-stat-item:nth-of-type(3) {
    box-shadow: 0 0 5px darkorange;
}
*/

.stat-value {
    height: 8mm;
}

.minion-description {
    position: absolute;
    top: calc(3mm + 15mm + 2mm + 16mm + 2mm);
    width: 89mm;
    height: calc(195mm - (39mm + 2mm));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}

.minion-department {
    width: 100%;
    height: 10mm;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 2mm;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 4.5mm;
    display: flex;
    align-items: center;
    border-radius: 1mm;
}

.minion-atk-abl-note {
    width: 100%;
    height: 142mm;
    margin-top: 0;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2mm 3mm;
    border-radius: 1mm;
}

.minion-atk-abl {
    width: 100%;
    height: 125mm;
    margin-top: 0;
}

.minion-note {
    width: 100%;
    font-weight: lighter;
    color: lightslategrey;
    font-style: italic;
    font-size: 3.5mm;
}

